


.filter-container {
  margin: 0 0 20px 0;
}

.color-cards-container {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 200px);
  grid-template-rows: repeat(auto-fit, 200px);
  grid-gap: 10px;
  flex-grow: 1;
  overflow: auto;
}

.color-card {
  position: relative;
  height: 200px;
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 5px ;
  color: rgb(61, 111, 134);
  cursor: pointer;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.74);
  transition: background 0.35s ease-in-out;
}

.color-card::after {
  content: "";
  border-radius: 5px;
  position: absolute;
  height: 100%;
  width: 100%;
  box-shadow: 0 2px 15px rgba(0,0,0,0.5);
  opacity: 0;
  transition: opacity 0.35s ease-in-out;
}

.color-card:hover::after {
  opacity: 1;
  z-index: -1;
}

.color-card:hover .delete-color:hover {
  transform: scale(1.05);
  transition: transform 0.35s ease-in-out;
}

